body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}
h1 {
    color: grey;
    font-family: Verdana, sans-serif;
}
.maindiv {
    background-color: white;    
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}